* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    
    overflow: scroll;
}


.main-header {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    text-align: center;
}


.portfolio-title {
    padding-top: 50px;
    padding-bottom: 100px;
}


#header-navbar {
    
}


#header-navbar .container ul {
    list-style: none;
}



#header-navbar .container ul li {
    padding: 20px;
    float: left;
}