* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    overflow: scroll;
}


.main-header {
    height: 50rem;
    margin: auto;
    overflow: hidden;
    background: url(assets/code.jpg) no-repeat center center/cover;
}


.portfolio-title {
    padding-top: 300px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.portfolio-title h2 {
    color: #fff;
    font-size: 35px;
}


.container ul {
    list-style: none;
    text-align: center;
}



.container ul li {
    padding: 30px;
    display: inline-block;
    position: relative;
    text-align: center;
}


.container ul li a:hover {
    color: rgb(248, 0, 0);
}

.fa-github {
    color: #fff;
    text-decoration: none;
}



.container ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}






#skills {
    text-align: center;
    height: 50rem;
    padding-left: 100px;
    padding-right: 100px;
}

.main-intro {
    text-align: center;
}
.main-intro h1 {
    font-size: 30px;
    color: rgb(0, 0, 0);
}



.skill-container {
    display: grid;
    grid-template-rows: repeat(2, 400px);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    text-align: center;
}


.skill-table:nth-child(1) {
    grid-column: span 1;
    background-color: rgb(227, 230, 57);
}
.skill-table:nth-child(2) {
    grid-column: span 1;
    background-color: rgb(248, 136, 44);
}
.skill-table:nth-child(3) {
    grid-column: span 1;
    background-color: rgb(98, 192, 192);
}
.skill-table:nth-child(4) {
    grid-column: span 1;
    background-color: rgb(160, 63, 168);
}
.skill-table:nth-child(5) {
    grid-column: span 1;
    background-color: rgb(115, 143, 40);
}
.skill-table:nth-child(6) {
    grid-column: span 1;
    background-color: rgb(214, 152, 219);
}







#intro {
    text-align: center;
    height: 50rem;
}

.intro {
    padding: 200px;
}

.sub-intro {
    padding: 120px;
}


#projects-contents {
    text-align: center;
    height: 50rem;
}


.projects-title {
    padding: 70px;
    text-align: center;
}

.container {
  width: 400px;
  display: grid;
  grid-template-rows: repeat(2, 300px);
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
}
.item:nth-child(1) {
  /* grid-column: 3 / 4; */
  grid-column: span 1;
  background-color: rebeccapurple;
}

.pic {
    background-color: aqua;
}

.item:nth-child(2) {
    grid-column: span 1;
    background-color: rgb(227, 230, 57);
}
.item:nth-child(3) {
  grid-column: span 1;
  background-color: greenyellow;
}
.item:nth-child(4) {
    grid-column: span 1;
    background-color: rgb(209, 37, 132);
}
.item:nth-child(5) {
    grid-column: span 1;
    background-color: rgb(167, 113, 142);
}
.item:nth-child(6) {
    grid-column: span 1;
    background-color: rgb(124, 184, 57);
}


#contact-box {
    text-align: center;
    height: 20rem;
    background-color: rgb(187, 187, 187);
}


.contact-head {
    padding-top: 100px;
    text-align: center;
}

.contact-email {
    text-align: center;
    padding-top: 50px;
}




